*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: rgb(27, 27, 27);
  min-height: 100%;
}

.logo{
  padding-left: 10px;
}

.card h2{
  padding-left: 10px;
}

.card h3{
  padding-left: 10px;
}

.cardcontainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 75px;
}

.card{
  background: white;
 /* width: 300px; */
 /* height: 465px; */
  width: 320px;
  height: 480px;
  margin: 10px;
  border-radius: 12px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-image{
  background-color: yellow;
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 12px 12px 0 0;
}

.card p{
  padding: 10px;
  font-size: 18px;
}

.card .fine-print-text {
  font-size: 14px;
}

.toggle-button {
  background-color: rgba(22, 190, 48, 0.8);
  color: white;
  padding: 10px 10px;
  display: block;
  text-align: center;
  font-weight: 600;
  margin: 10px 40px 10px 40px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 20px;
  width: 70%;
  margin: 5px auto;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: rgba(22, 190, 48, 0.9);
}

.toggle-button-back {
  background-color: rgba(18, 142, 220, 0.8);
}

.card-back__title {
  text-align: center;
  padding-top: 5px;
}

.barcode-img {
  display: flex;
  height: 100px;
  margin: 8px auto;
}

.toggle-button-back:hover {
  background-color: rgba(18, 142, 220, 0.9);
}

.card-1{
  background-image: url("https://www.milesteaandcoffee.com/userfiles/article/5e87182e3217a-coffee.jpg");
  }

.card-2{
  background-image: url("https://www.simplyrecipes.com/thmb/1SXZ_F1GC6ww_ppWnrdbKgHi9fQ=/2000x1333/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2019__01__Butter-Chicken-LEAD-2-6ca76f24bbe74114a09958073cb9c76f.jpg")
}

.card-3{
background-image: url("https://www.milesteaandcoffee.com/userfiles/article/5e87182e3217a-coffee.jpg")
}


/* Styles for the front and back sides of the card */
.card .card-front,
.card .card-back {
  position: absolute;
  backface-visibility: hidden;
}

.card .card-back {
  transform: rotateY(180deg);
}

/* Styles for flipped cards */
.card.is-flipped {
  transform: rotateY(180deg);
}

@media (max-width: 450px) {
  .card{
    background: white;
    width: 350px;
    margin: 25px 0;
  }

  .cardcontainer{
    padding: 60px 0 60px 0;
  }
}
