footer {
  position: relative;
  width: 100%;
  background: var(--background);
  font-family: 'Poppins', sans-serif;
  padding-bottom: 15px;
}

footer ul {
  list-style: none;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-content .box {
    flex-basis: 50%;
    margin: 5px 0;
    padding: 10px 20px;
  }

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  padding-top: 10px;
  position: relative;   /* This line is only required if using the below stylized underlines */
}

.left .content p {
  text-align: justify;
}

.social a {
  font-size: 40px;
  margin: 12px;
  color: blue;
}

/* Start of title stylized underlines - helps make footer more readable on mobile */
.box .content:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.box .content:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
/* End of title stylized underlines - helps make footer more readable on mobile */

@media screen and (min-width: 900px) {

  .main-content {
    flex-direction: row;
  }
}