    
    .hero-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100%;
    }

    .hero__img-wrapper {
        display: flex;
    }
    
    .hero-wrapper div img {
        width: 70%;
        margin: 50px auto 10px auto;
    }

    .p-wrapper {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: 0 auto;
        text-align: left;
        padding-left: 30px; /* Theres got to be a better way to aligh the text then this - USED AS TEMP FIX ONLY */
    }

    .hero-wrapper p {
        margin-top: 18px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #fb6100;
        width: 85%; 
    }
    
    .hero-wrapper .p1 {
        font-size: 26px;
    }
    
    .p1 span {
        color: rgba(22, 190, 48, 0.8);
    }

@media (min-width: 800px) {

    .hero-wrapper {
      flex-direction: row;
      max-width: 1200px;
      margin: 0 auto;
    }
}
    